:root {
    --navColor: #fdcc52;
    --navHoverColor: white;
}
@font-face {
    font-family: Catamaran;
    src: url('./fonts/Catamaran-Regular.ttf');
}
@font-face {
    font-family: Lato;
    src: url('./fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: Muli;
    src: url('./fonts/Muli-Regular.ttf');
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url('./img/bg-pattern.png'), linear-gradient(0.25turn,rgb(218,36,49), rgb(125,67,151));
    font-family: Muli, Helvetica, Arial, sans-serif;
}
.ff-catamaran {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
}

/* navbar settings */
.navbar-brand {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
}
.nav-link {
    font-size: .8em;
    font-family: Lato, Helvetica, Arial, sans-serif;
}
.navbar-brand:hover, .nav-link:hover, .navbar-toggler, .navbar-text {
    color: white;
}
.navbar-toggler {
    font-size: small;
    border-color: #fdcc52;
    border-width: 2px;
}
.navbar-toggler:hover {
    font-size: small;
    color: white;
    border-color: white;
    border-width: 2px;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-text {
    font-size: small;
}
.navbar-text:hover {
    color: white;
}
.text-nav {
    color: var(--navColor);
}
.text-nav:hover {
    color: var(--navHoverColor);
    text-shadow: 0 0 4px #000000;
}

.bg-yellow {
    background-color: rgb(253,202,77);
}
.btn-yellow {
    color: white;
    border-color: white;
    transition-duration: 0.3s;
    --bs-btn-hover-color: var(--bs-white);
}
.text-yellow {
    color: rgb(253,202,77);
}
.text-yellow:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.socmedia {
    text-decoration: none;
    opacity: .9;
}
.socmedia:hover {
    opacity: 1;
}
/* footer settings */
footer {
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: .8em;
}
footer a {
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #6c757d;
    text-decoration-color: transparent;
}
footer a:hover {
    color: #fdcc52;
}


/* fallback fonts
font-family: Catamaran, Helvetica, Arial, sans-serif;
font-family: Lato, Helvetica, Arial, sans-serif;
*/