@font-face {
    font-family: Catamararan;
    src: url('./fonts/Catamaran-Regular.ttf');
}
@font-face {
    font-family: Lato;
    src: url('./fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: Muli;
    src: url('./fonts/Muli-Regular.ttf');
}
body {
    background-image: url('./img/bg-pattern.png'), linear-gradient(0.25turn,rgb(218,36,49), rgb(125,67,151));
}

/* navbar settings */
.navbar-brand, .nav-link {
    color: #fdcc52;
}
.nav-link {
    font-size: .8em;
}
.navbar-brand:hover, .nav-link:hover, .navbar-toggler, .navbar-text {
    color: white;
}
.navbar-toggler {
    font-size: small;
    color: #fdcc52;
    border-color: #fdcc52;
    border-width: 2px;
}
.navbar-toggler:hover {
    font-size: small;
    color: white;
    border-color: white;
    border-width: 2px;
}
.navbar-text {
    font-size: small;
    color: #fdcc52;
}
.navbar-text:hover {
    color: white;
}

.bg-yellow {
    background-color: rgb(253,202,77);
}
.socmedia {
    text-decoration: none;
}

/* footer settings */
footer {
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: .8em;
}
footer a {
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #6c757d;
    text-decoration-color: transparent;
}
footer a:hover {
    color: #fdcc52;
}


/* fallback fonts
font-family: Catamaran, Helvetica, Arial, sans-serif;
font-family: Lato, Helvetica, Arial, sans-serif;
*/